* {
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
    margin: 0;
    background-color: deepskyblue;
}
h2 {
    font-size: 20p;
}
p {
    text-align: justify;
    font-size: 18px;
}

.header_container {
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: left;
    justify-content: left;
    align-content: left;
    background-color: rgb(56, 75, 160);
    padding: 10px;
    color: goldenrod;
}
.headeritem_logo {
    width: 180;
}
.headeritem_text {
    flex: 1 1 auto;
}
.headeritem_text h1 {
    font-size: 24px;
    text-align: center;
}
.main_container {
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: left;
    justify-content: left;
    align-content: left;
}
.mainitem_nav {
    background-color: #8b8585;
    flex: 1 1 auto;
    align-self: stretch;
    width: 30%;
    min-width: 160px;
    max-width: 320px;
    padding: 20px;
}
.mainitem_nav ul {
    list-style-type: none;
    padding: 0;
}
.mainitem_nav li {
    padding-bottom: 12px;
}
.mainitem_art {
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
    justify-content: stretch;
    align-content: left;
    padding: 20px;
    background-color: #f1f1f1;
}
.item_art {
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: left;
}
.item_art {
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: left;
}
.item_art_text {
    align-self: stretch;
}
.main_footer {
    width: 100%;
    background-color: rgb(182, 182, 182);
    padding: 10px;
    text-align: center;
    color:  rgb(45, 3, 230);
}

@media screen and (max-width: 1025px) {
    .item_art {
        -webkit-flex-direction: column;
        flex-direction: column;
    }
}

@media screen and (max-width: 769px) {
    .item_art {
        -webkit-flex-direction: column;
        flex-direction: column;
    }
    .main_container {
        -webkit-flex-direction: column;
        flex-direction: column;
        align-items: stretch;
        justify-content: stretch;
        align-content: stretch;
    }
    .mainitem_nav {
        flex: 1 1 auto;
        width: 100%;
        max-width: 769px;
        padding: 20px;
    }
}

.nav li{
    margin: 0;
    padding: 0;
    text-align: center;
    display: inline-block;
}
.nav a{
    color:#fff;
    display:inline-block;
    padding: 0.5em 0.75em;
    background-color: #666;
    border-radius: 4px;
    text-decoration: none;
}
.nav a:hover{
    opacity:0.7;
}
.mainitem_nav a:hover{
    opacity:0.7;
}
